* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  touch-action: manipulation;
}
html {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
body {
  height: 100%;
  width: 100%;
}
ul,
ol {
  list-style: none;
}
img,
button {
  display: block;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container .left {
  display: flex;
  width: 20%;
  min-width: 250px;
  margin: 2vmin 0;
  border-right: #056de8 solid 3px;
  padding: 1.5vmin 3vmin;
  resize: horizontal;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
}
.container .left .add_new_box {
  display: none;
  position: relative;
  margin-top: 3vmin;
  flex-shrink: 0;
  height: 35%;
  min-height: 200px;
  border: #000 dotted 3.5px;
  border-radius: 10px;
  background-color: transparent;
  padding: 2.5px;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}
.container .left .add_new_box .upper {
  display: flex;
  width: calc(100% + 2.5px);
  height: calc(100% - 23.5px);
  overflow: hidden;
}
.container .left .add_new_box .upper .inner_box {
  display: none;
  flex-shrink: 0;
  width: 100%;
  background-color: transparent;
  padding: 1vmin;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container .left .add_new_box .upper .inner_box:nth-child(2) .title {
  overflow-y: auto;
}
.container .left .add_new_box .upper .inner_box .title {
  line-height: 22px;
  word-wrap: anywhere;
  overflow: hidden;
}
.container .left .add_new_box .upper .inner_box span {
  font-weight: normal;
  -webkit-user-select: text;
  user-select: text;
  word-break: break-all;
}
.container .left .add_new_box .upper .inner_box input,
.container .left .add_new_box .upper .inner_box textarea {
  border: #056de8 solid 3px;
  outline: none;
  background-color: transparent;
}
.container .left .add_new_box .upper .inner_box input {
  margin-top: 1vmin;
  width: 80%;
  border-radius: 7.5px;
  padding: 7.5px;
}
.container .left .add_new_box .upper .inner_box .checkbox {
  display: flex;
  height: 16px;
  margin-top: calc(1vmin + 2px);
  align-items: center;
  word-break: keep-all;
}
.container .left .add_new_box .upper .inner_box .checkbox input[type="checkbox"] {
  margin-top: 0px;
  margin-right: 3px;
  width: 16px !important;
  height: 16px !important;
}
.container .left .add_new_box .upper .inner_box .checkbox label {
  height: 16px;
  line-height: 16px;
}
.container .left .add_new_box .upper .inner_box textarea {
  margin-top: 1vmin;
  height: calc(80% - 22px);
  width: 85%;
  border-radius: 7.5px;
  resize: none;
  padding: 7.5px;
  word-break: break-all;
}
.container .left .add_new_box .pre {
  position: absolute;
  left: 2%;
  bottom: 1%;
  height: 22px;
  width: 22px;
  background-image: url(../img/toLeft.svg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.container .left .add_new_box .close {
  position: absolute;
  right: 50%;
  bottom: 2%;
  transform: translateX(50%);
  height: 20px;
  width: 20px;
  background-image: url(../img/close.svg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.container .left .add_new_box .next {
  position: absolute;
  right: 2%;
  bottom: 1%;
  height: 22px;
  width: 22px;
  background-image: url(../img/toRight.svg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.container .left li {
  position: relative;
  height: 70px;
  border: none;
  border-top: #333 dotted 3px;
  padding: 10px 10px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.container .left li::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  height: 70px;
  width: 70px;
  background-image: linear-gradient(to right, transparent, #fff);
  background-size: cover;
  content: "";
}
.container .left li h1,
.container .left li p {
  height: 22.5px;
  line-height: 22.5px;
  white-space: nowrap;
  overflow: hidden;
}
.container .left li .line_1 {
  font-weight: bold;
}
.container .left li .line_2 {
  font-size: 13px;
  color: #666;
}
.container .left form {
  align-self: center;
  margin-top: 2.5vmin;
}
.container .left button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-image: url(../img/add.svg);
  background-size: 172%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.15s ease-out;
}
.container .right {
  display: flex;
  position: relative;
  flex: 1;
  min-width: 250px;
  margin: 2vmin 2vmin;
  overflow: hidden;
  flex-direction: column;
}
.container .right .upper {
  height: 70%;
  min-height: 95px;
  resize: vertical;
  overflow-x: hidden;
  overflow-y: auto;
}
.container .right .upper ul {
  display: flex;
  line-height: 22px;
  flex-direction: column;
}
.container .right .upper ul li {
  margin: 0.5vmin 1vmin;
  padding: 10px 20px;
  border-radius: 15px;
  white-space: pre-wrap;
  word-break: break-all;
}
.container .right .upper ul .the_other {
  align-self: self-start;
  max-width: calc(100% - 56px - 1vmin);
  border-bottom-left-radius: 0;
  background-color: #e6e6e6;
}
.container .right .upper ul .me {
  align-self: self-end;
  max-width: calc(100% - 56px - 1vmin);
  border-bottom-right-radius: 0;
  background-color: #056de8;
  color: #fff;
}
.container .right .bottom {
  display: block;
  position: relative;
  flex: 1;
  min-height: 80px;
}
.container .right .bottom textarea {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  border-top: #056de8 solid 3px;
  background-color: transparent;
  padding: 7.5px 0 calc(30px + 1.5vmin) 7.5px;
  outline: none;
  resize: none;
  line-height: 22px;
}
.container .right .bottom .back {
  display: none;
  position: absolute;
  bottom: 0;
  left: 1vmin;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  background-image: url(../img/back.svg);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.container .right .bottom .send {
  position: absolute;
  bottom: 0;
  right: 1vmin;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  background-image: url(../img/send.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.15s ease-out;
}
.container .right .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: not-allowed;
}
.name_active {
  border-color: #056de8 !important;
  border-top-style: solid !important;
  color: #ffb200;
}
.button_active {
  transform: scale(0.85);
}
@media (orientation: portrait) {
  .container .left {
    width: 100% !important;
    border: none;
    resize: none;
  }
  .container .right {
    display: none;
  }
  .container .right .bottom .back {
    display: block;
  }
  .container .right .upper {
    height: 80%;
  }
  .container .right .bottom {
    height: 20%;
  }
}
@media (orientation: landscape) {
  .container .left {
    display: flex !important;
  }
  .container .right {
    display: flex !important;
  }
}
